<div class="post-shares sticky-shares">
  <a href="javascript:;" class="share-facebook" (click)="socialShare('facebook')"><i class="fa fa-facebook"></i></a>
  <a href="javascript:;" class="share-twitter" (click)="socialShare('twitter')"><i class="fa fa-twitter"></i></a>
  <a href="javascript:;" class="share-google-plus" (click)="socialShare('googleplus')"><i class="fa fa-google-plus"></i></a>
  <a href="javascript:;" class="share-pinterest" (click)="socialShare('pinterest')"><i class="fa fa-pinterest"></i></a>
  <a href="javascript:;" class="share-linkedin" (click)="socialShare('linkedin')"><i class="fa fa-linkedin"></i></a>
  <a href="javascript:;" (click)="socialShare('mail')"><i class="fa fa-envelope"></i></a>
</div> 