<div class="row" *ngIf="list">	
    <!-- post -->
    <div class="col-md-6" *ngFor="let item of list">
      <div class="post post-thumb">
        <a class="post-img" [attr.href]="item.Url" href="#"><img [attr.src]="item.Thumbnail" [attr.alt]="item.Title"></a>
        <div class="post-body">
          <div class="post-meta">
            <a class="post-category {{ getSectionClass(item.SectionId) }}" [attr.href]="'/' + item.SectionId" href="#"> {{ loopCounter }} {{ item.Section }}</a>
            <span class="post-date">{{ item.CreatedDate | date: 'dd MMMM, yyyy'}}</span>
          </div>
          <h3 class="post-title"><a href="{{ item.Url }}">{{ item.Title }}</a></h3>
        </div>
      </div>
    </div>
    <!-- /post -->  
  </div>

