<!-- section -->
<div class="section" *ngIf="newsDetail">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row">
        <!-- Post content -->
        <div class="col-md-8">
          <div class="section-row sticky-container">
            <div class="main-post">
              <h3>{{ newsDetail.Title }}</h3>
              <figure class="figure-img">
                  <img class="img-responsive" style="width:100%" [attr.src]="newsDetail.Thumbnail" [attr.alt]="newsDetail.Title">
                </figure>
                <div [innerHtml]="newsDetail.Content"></div>
             </div>

            <app-social-share [contentTitle]="newsDetail.Title" [contentUrl]="newsDetail.Url"></app-social-share>
          </div>

          <!-- ad -->
          <div class="section-row text-center">
            <a href="#" style="display: inline-block;margin: auto;">
              <img class="img-responsive" src="./assets/img/ad-2.jpg" alt="">
            </a>
          </div>
          <!-- ad -->

          <!-- author -->
          <div class="section-row">
            <div class="post-author">
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="./assets/img/author.png" alt="">
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <h3>John Doe</h3>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                  <ul class="author-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- /author -->

          <!-- comments -->
          <div class="section-row">
            <div class="section-title">
              <h2>3 Comments</h2>
            </div>

            <div class="post-comments">
              <!-- comment -->
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="./assets/img/avatar.png" alt="">
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <h4>Mark Alan</h4>
                    <span class="time">March 27, 2018 at 8:00 am</span>
                    <a href="#" class="reply">Reply</a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                  <!-- comment -->
                  <div class="media">
                    <div class="media-left">
                      <img class="media-object" src="./assets/img/avatar.png" alt="">
                    </div>
                    <div class="media-body">
                      <div class="media-heading">
                        <h4>Richard Hall</h4>
                        <span class="time">March 27, 2018 at 8:00 am</span>
                        <a href="#" class="reply">Reply</a>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                  <!-- /comment -->
                </div>
              </div>
              <!-- /comment -->

              <!-- comment -->
              <div class="media">
                <div class="media-left">
                  <img class="media-object" src="./assets/img/avatar.png" alt="">
                </div>
                <div class="media-body">
                  <div class="media-heading">
                    <h4>Edi Tombay</h4>
                    <span class="time">March 27, 2018 at 8:00 am</span>
                    <a href="#" class="reply">Reply</a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
              </div>
              <!-- /comment -->
 

              <div *ngIf="commenIsSuccessfullySend">
                <!-- comment -->
                <div class="media" style="padding: 20px 20px 0px 20px; background: #c6ffc8;">
                  <div class="media-left">
                    <img class="media-object" src="./assets/img/avatar.png" alt="">
                  </div>
                  <div class="media-body">
                    <div class="media-heading">
                      <h4>{{ commentModel.Name }}</h4>
                      <span class="time">{{ currentDate | date: 'MMMM dd, yyyy'}} at {{ currentDate | date: 'h:mm:aa'}}</span>
                      <a href="#" class="reply">Reply</a>
                    </div>
                    <p>{{ commentModel.Message }}</p>
                  </div>
                </div>
                <!-- /comment -->
                <p style="text-align: right; font-weight: bold; padding: 4px; font-style: italic;">Thank you! Your comment is awaiting moderation.</p>
              </div>
 

            </div>
          </div>
          <!-- /comments -->

          <!-- reply -->
          <div class="section-row" *ngIf="!commenIsSuccessfullySend">
            <div class="section-title">
              <h2>Leave a reply</h2>
              <p>your email address will not be published. required fields are marked *</p>
            </div>
            <form class="post-reply" #commentForm="ngForm">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <span>Name *</span>
                    <input class="input" type="text" [(ngModel)]="commentModel.Name" name="name">

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <span>Email *</span>
                    <input class="input" type="email" name="email" [(ngModel)]="commentModel.Email"> 
                  </div>
                </div> 
                <div class="col-md-12">
                  <div class="form-group">
                    <textarea class="input" name="message" placeholder="Message" [(ngModel)]="commentModel.Message"></textarea>
                  </div>
                  <button class="primary-button" (click)="onSubmit()">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <!-- /reply -->
        </div>
        <!-- /Post content -->

        <!-- aside -->
        <div class="col-md-4">
          <app-sidebar></app-sidebar>
        </div>
        <!-- /aside -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /section -->